@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

body {
    border: black solid 1px;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #1E1E1E;
}

h1 {
    font-family: 'Rye', serif;
    font-size: 50px;
    margin: 0px;
    color: #D4CE46;
    font-weight: lighter;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchbar {
    display: flex;
    margin-right: 20px;
}

.searchbar-text {
    padding: 20px;
    background: #D9D9D9;
    color: #494B4B;
    border: black solid 1px;
    border-radius: 5px;
    width: 200px;
    max-height: 50px;
    cursor: pointer;
    display: flex;
    justify-self: center;
    align-self: center;
}

.searchIcon {
    margin: 20px;
    color: darkgrey;
    align-self: center;
    cursor: pointer;
}